.catalogue {
    flex: 1;

    min-height: 100vh;
    margin: 15px;

    .tab-content {
        min-height: 80vh;
        flex: 1;
    }

    .catalogue-content {
        display: flex;
        justify-content: center;

        .list-child {
            cursor: default;
        }
    }

    .catalogues-tabs {
        width: 100%;
    }

    .children-grid {
        margin-top: 1rem;
    }

    .category-tab {
        display: flex;
        justify-content: center;
    }

    .product-card {
        background-color: white;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .product-header {
            background-color: whitesmoke;
            padding: 10px;
            padding-bottom: 5px;
        }

        .product-content {
            text-align: left;

            display: flex;
            flex-direction: column;

            :nth-child(1) {
                font-size: 1.25rem;
                font-weight: 900;
            }

            :nth-child(2) {
                font-size: 0.875rem;
                font-weight: 300;
            }
        }

        .product-actions {
            align-items: stretch;
            justify-content: space-around;

            :nth-child(1) {
                flex: 2;

                display: flex;
                justify-content: space-around;
                align-items: center;

                >span {
                    flex: 1;
                    font-size: 0.75rem;
                    color: gray;
                }

                >svg {
                    flex: 1;
                    color: green;
                    cursor: pointer;
                }

                input {
                    text-align: center;
                    background-color: whitesmoke;
                }
            }

            .sub-text {
                font-size: 0.75rem;
                color: gray;
            }


            :nth-child(2) {
                flex: 1;

                display: flex;
                justify-content: space-evenly;

                button {
                    flex: 1;

                    min-width: 2rem;
                    padding: 0;
                    font-weight: 900;
                    border: none;

                    &.cart-add {
                        background-color: rgba(green, 0.7);

                        svg {
                            color: white;
                        }
                    }

                    &.cart-remove {
                        svg {
                            color: crimson;
                        }
                    }
                }
            }
        }
    }
}