@import '../mixins.scss';

$height-header: 95vh;
$width-header: 40vw;
$width-header-md: 20vw;

.header {
    background-color: white !important;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 5px darkgray;

    padding: 1rem;
    padding-left: 2rem;

    height: $height-header;
    width: $width-header;

    // Larger width on larger screens
    @include from('md') {
        width: $width-header-md;
    }

    // Make the header fixed position, 
    // and toggle-able on smaller screens
    @include until('sm') {
        position: fixed;
        top: 0;

        // width - padding-left - padding-right
        left: calc((-1 * #{$width-header}) - 2rem - 1rem);
        transition: left .1s linear;

        // width - padding-left
        &.ready {
            left: calc((-1 * #{$width-header}) - 2rem);
        }

        &.active {
            left: 0px;
        }
    }

    display: flex;
    flex-direction: column;

    .header-end {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .user-name {
            cursor: default;
        }
    }

    .user-actions {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        text-align: left;

        .action {
            font-weight: 700;
            padding: 0;
        }

        .user-register {
            color: green;
            background-color: white;
        }

        .user-login {
            color: green;
        }

        .user-logout {
            font-weight: 300;
            font-size: 0.75rem;

            color: firebrick;
        }

        .new-product {
            background-color: green;
            color: white;
        }

        .user-checkout {
            background-color: white;
            color: green;
        }
    }
}