.header {
    background-color: white !important;

    .header-start {
        flex: 1;

        font-family: 'Open Sans', sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header-end {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        .user-name {
            margin-right: 15px;
            cursor: default;
        }
    }

    .user-actions {
        .action {
            font-weight: 700;
            margin-right: 15px;

            :first-child {
                margin-right: 5px;
                margin-left: 5px;
            }
        }

        .user-register {
            color: green;
            background-color: white;
        }

        .user-login {
            color: green;
        }

        .user-logout {
            font-weight: 300;
            font-size: 0.75rem;
            margin-left: 2rem;

            color: crimson;
        }

        .new-product {
            background-color: green;
            color: white;
        }

        .user-checkout {
            background-color: white;
            color: green;
        }
    }
}