@import '../mixins.scss';

.app-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modal-container {
        outline: none;
        display: inline-block;

        .modal-card {
            background-color: white;

            @include from('md') {
                width: 50vw;
            }

            max-height: 100vh;

            display: flex;
            flex-direction: column;

            >:nth-child(1) {
                display: flex;
                flex-direction: column;
                max-height: 75vh;
            }

            .form-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .form-title {
                    font-family: 'Open Sans', sans-serif;
                    text-align: center;
                    color: darkgray;
                    font-size: 1rem;
                    font-weight: 900;

                    span {
                        color: darkorange;
                    }
                }

                .header-icon {
                    text-align: right;
                    cursor: default;
                    color: darkorange;
                    margin-right: 5px;
                }

                .header-close {
                    text-align: right;
                    cursor: pointer;
                    color: white;
                    border: none;
                    background-color: firebrick;
                    display: flex;
                }
            }

            .modal-content {
                background-color: whitesmoke;
                margin-top: 2rem;
                border: 1px dashed darkorange;
                border-radius: 5px;
                padding: 0.5rem;
                height: calc(100% - 2rem);
                overflow-y: scroll;
            }

            .project-form {
                >div {
                    flex: 1;

                    padding: 5px;
                }

                .group,
                .notes {
                    width: 100%;
                }

                label, summary {
                    color: darkorange;
                    font-weight: 500;
                    letter-spacing: 2px;
                    padding-bottom: 5px;
                }

                label {
                    &::after {
                        content: ':';
                    }
                }

                details {
                    width: 100%;
                    summary {
                        outline: none;
                        color: darkgray;

                        &:focus {
                            outline: none;
                        }
                    }

                    &[open] {
                        summary {
                            color: darkorange;
                            &::after {
                                content: ':';
                            }
                        }
                    }
                }

                input {
                    font-size: 1rem;
                    line-height: 1rem;
                    box-sizing: border-box;
                    background-color: white;
                    border-radius: 5px;

                    &:focus {
                        outline: darkorange;
                    }
                }

                textarea {
                    padding: 0.5rem;
                    resize: vertical;
                    font-size: 0.875rem;
                    line-height: 1rem;
                    border-radius: 5px;
                    border-color: lightgray;
                }
            }

            .form-actions {
                justify-content: flex-end;

                >button {
                    font-weight: 900;
                }

                >:nth-child(1) {
                    color: white;
                    background-color: darkorange;
                }

                >:nth-child(2) {
                    color: darkgray;
                    background-color: transparent;
                }
            }

            .error {
                text-align: center;
                color: firebrick;
                font-size: 0.875rem;
            }
        }
    }
}