.product-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .product-form-container {
        min-width: 50vw;
        width: 100%;

        outline: none;

        .modal-card {
            background-color: green;

            .form-actions {
                justify-content: flex-end;

                button {
                    flex: 0.4;
                    color: white;
                    font-weight: 900;
                }
            }
        }

        .form-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .form-title {
                font-family: 'Open Sans', sans-serif;
                text-align: center;
                color: white;
                font-size: 1.5rem;
                font-weight: 900;
            }

            svg {
                text-align: right;
                cursor: pointer;
                color: white;
                border: none;
                background-color: firebrick;
            }
        }

        .product-form {
            margin-top: 2rem;

            >div {
                margin-top: 2rem;

                input {
                    font-size: 1rem;
                    line-height: 1rem;
                    box-sizing: border-box;
                    // padding: 1.2rem;
                    background-color: white;
                    border-radius: 5px;
                }

                label {
                    color: white;
                    margin-bottom: 1rem;
                }
            }

            .part-1 {
                display: flex;
                justify-content: space-between;

                .product-name {
                    flex: 4;
                    margin-right: 10%;
                }

                .product-qty {
                    flex: 1;
                }
            }

            .multiline {
                font-size: 1rem;
                line-height: 1.2rem;
                padding: 0.6rem 1.2rem;

                border: lightgray 1px solid;
                border-radius: 5px;
            }

            button {
                margin-top: 2rem;
                background-color: whitesmoke;
                color: green;
                font-weight: 900;
                flex: 1;
            }
        }
    }
}