@import '../mixins.scss';

.app-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modal-container {
        outline: none;
        display: inline-block;

        .modal-card {
            background-color: white;

            @include from('md') {
                width: 50vw;
            }
            max-height: 100vh;

            display: flex;
            flex-direction: column;

            >:nth-child(1) {
                flex: 4;
            }

            >:nth-child(2) {
                flex: 1;
            }

            .form-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .form-title {
                    font-family: 'Open Sans', sans-serif;
                    text-align: center;
                    color: darkgray;
                    font-size: 1rem;
                    font-weight: 900;

                    span {
                        color: darkorange;
                    }
                }

                .header-icon {
                    text-align: right;
                    cursor: default;
                    color: darkorange;
                    margin-right: 5px;
                }

                .header-close {
                    text-align: right;
                    cursor: pointer;
                    color: white;
                    border: none;
                    background-color: firebrick;
                }
            }

            .modal-content {
                margin-top: 2rem;
                border: 1px dashed darkorange;
                border-radius: 5px;
                padding: 0.5rem;
                height: calc(100% - 2rem);
                overflow-y: scroll;
            }

            .project-form {
                >div {
                    flex: 1;

                    padding: 5px;
                }

                .group,
                .notes {
                    width: 100%;
                }

                summary {
                    outline: none;
                    color: darkgray;

                    &:focus {
                        outline: none;
                    }
                }

                input {
                    font-size: 1rem;
                    line-height: 1rem;
                    box-sizing: border-box;
                    // padding: 1.2rem;
                    background-color: white;
                    border-radius: 5px;

                    &:focus {
                        outline: darkorange;
                    }
                }

                // .multiline {
                //     font-size: 1rem;
                //     line-height: 1.2rem;
                //     padding: 0.6rem 1.2rem;

                //     border: lightgray 1px solid;
                //     border-radius: 5px;
                // }
            }

            .form-actions {
                justify-content: flex-end;

                >button {
                    font-weight: 900;
                }

                >:nth-child(1) {
                    color: white;
                    background-color: darkorange;
                }

                >:nth-child(2) {
                    color: darkgray;
                    background-color: transparent;
                }
            }

            .error {
                text-align: center;
                color: firebrick;
                font-size: 0.875rem;
            }
        }
    }
}